---
name: ansible-lint
on:  # yamllint disable-line rule:truthy
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: ansible/ansible-lint-action@v4.1.0.post0
